.player-wrapper{
    width: 100vw;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 1px;
}
.player{
    width: 20vw;
    margin: auto;
}
.playlist-wrapper{
    width: 60vw;
    margin: auto;
    overflow-y: auto;
}

.song-tab{
    background-color:red;
    width: 20vw;
    margin: 20px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding:20px 20px;
    border-radius: 40px;
}
.info{
    display: flex;
    flex-flow: column wrap;
}
.play{
    cursor: pointer;
}
.upload-wrapper{
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    margin: auto;
    padding:20px 20px;
}
.upload-wrapper > input{
    margin: 10px 10px;
    padding: 10px 10px;
    border-radius: 5px;
}
.alert{
    position: absolute;
    bottom: 1px;
    right: 1px;
    width: 20%;
    height: 5vh;
    background-color: red;
}