.player-wrapper{
    width: 100vw;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 1px;
}
.player{
    width: 20vw;
    margin: auto;
}
.playlist-wrapper{
    width: 60vw;
    margin: auto;
    height: 80vh;
}

.song-tab{
    background-color:red;
    width: 20vw;
    margin: 20px 20px;
    display: flex;
    flex-flow: column wrap;
}